#cloud {
    width: 200px;
    height: 130px;
    padding: 5px;
    background: url('../../images/cloud.png');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border-radius: 100px / 70px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tank {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    border-top: none;
    background-color: blue;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    text-align: center;
}

#waterLevel {
    height: 100%;
    background-color: #c3ddf2;
}

#dropsAmount {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
}

.villager {
    position: absolute;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    left: -150px;
    top: 650px;
}

.villager-text {
    position: relative;
    top: -25px;
    text-align: center;
}